
html body.theme-light .workspace-leaf-content[data-type="bookmarks"] {
  background: white;
}

html body.theme-dark .workspace-leaf-content[data-type="bookmarks"] {
  background: #181C22;
}

.tree-item-self.bookmark.is-active {
  border-left: 3px solid #FF2075;
  border-radius: 0;
}

/* - OLD MAN MODE -------------- */

.bookmark {
  margin-bottom: 8px;
  width: 80%;
  transform: scale(1.25);
  transform-origin: 0 0;
  padding: 7px 5px;
}

.bookmark .tree-item-icon svg {
  display: none;
}

.bookmark .tree-item-icon {
  display: block;
}
